:root {
    --es: #212A3E; /*verde musgo*/
    --md: #394867; /*verde escuro*/
    --cl: #9BA4B5; /*bege escuro*/
    --mc: #F1F6F9; /*bege claro*/
    --fontE: white; /*fonte escura*/
    --fontC: black; /*fonte clara*/
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--cl);
}

header {
    background: var(--es);
    color: var(--fontC);
    padding: 10px 0;
    text-align: center;
}

nav {
    background: var(--md);
    color: var(--fontE);
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: var(--fontC);
    text-decoration: none;
    transition: all 0.3s ease;
}

nav a:hover {
    color: var(--navC);
}

.nav a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: var(--cl);
    bottom: 0;
    left: 0;
    transition: width 0.3s ease;
}

nav a:hover::after {
    width: 100%;
}

.titulo {
    cursor: pointer;
    text-decoration: none;
}

.oculto {
    display: none;
}

main {
    padding: 20px;
}

a {
    text-decoration: none;
    color: var(--link);
}

.azul {
    color: var(--azul);
    font-size: small;
}

.azul2 {
    color: var(--azul);
}

.vermelho {
    color: red;
}

.laranja {
    color: rgb(235, 166, 38);
}

.grande {
    font-size: x-large;
}

.pequeno {
    font-size: small;
}

section {
    background: var(--mc);
    margin: 20px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.5s ease;
}

button {
    background: #48aa48;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #51bb51;
}

#btntramitar {
    background: #104292;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

#btntramitar:hover {
    background: #1557c2;
}
#backToTop {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    background-color: #104292;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, opacity 0.3s;
    z-index: 99;
    padding: 0;
    opacity: 0.9;
}
#backToTop:hover {
    background-color: #104292;
    opacity: 1;
}       
#backToTop::after {
    content: "↑";
    font-size: 24px;
    font-weight: bold;
}
html {
    scroll-behavior: smooth;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: var(--es);
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

.highlight {
    animation: highlight 1s ease;
}

@keyframes highlight {
    0% {
        background-color: var(--mc);
    }
    50% {
        background-color: var(--cl);
    }
    100% {
        background-color: transparent;
    }
}

@media (width < 950px) {
    h1 {
        margin: auto 20px;
        height: 100%;
        padding-bottom: 20px;
    }
    nav {
        display: none;
    }
}
@media (width < 1020px) {
    
}

:root {
    --shadow: 0 2px 10px rgba(0, 0, 0, 0.1);  
    transition: background-color 0.3s ease, color 0.3s ease;
    --cl: #121212;
    --fontE: #000000;
    --fontC: #ffffff;
    --md: #0a0035;
    --es: #04002b;
    --mc: #2e2e2e;
    --link: #008cff;
    --azul: rgb(106, 106, 255);
    --bgBtn: #273da1;
    --bgBtnH: #6b7fd6;
    --navC: #757575;
}
        
[data-theme="dark"] {
    --es: #646a74; 
    --md: #8b93a0; 
    --cl: #9BA4B5; 
    --mc: #F1F6F9; 
    --fontE: white; 
    --fontC: black;
    --link: #2600ff;
    --azul: blue;
    --bgBtn: #818181;
    --bgBtnH: #d6d6d6;
    --navC: #f1f1f1;
    --shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--cl);
    color: var(--fontC);
    min-height: 100vh;
    transition: background-color 0.3s ease;
}

.toggle-btn {
    width: 68px;
    position: fixed;
    top: 20px;
    right: 20px;
    border-radius: 25px;
    background: var(--bgBtn);
    border: none;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 0;
    padding-top: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}
        
.toggle-btn:hover {
    background: var(--bgBtnH);
    transform: translateY(-3px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}
.toggle-icon {
    color: white;
    font-size: 1.2rem;
    transition: transform 0.3s ease;
}
        
.toggle-icon.sun {
    transform: translateY(0);
}
        
.toggle-icon.moon {
    transform: translateY(0);
}
        
[data-theme="dark"] .toggle-icon.sun {
    transform: translateY(-40px);
}
        
[data-theme="light"] .toggle-icon.moon {
    transform: translateY(40px);
}
        
.toggle-track {
    position: absolute;
    width: 7px;
    height: 5px;
    background-color: white;
    border-radius: 10px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}
